nav{
    text-align: center;
}
.main-menu  ul{
	list-style: none;
	font-size: 0px;
	background: salmon;
}
.main-menu > ul> li{
	display: inline-block;

}
.main-menu  ul li ul{
	display: none;
}
.main-menu  ul li a{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
    font-weight:bold; 
	font-size: 16px;
    font-family: Arial, Verdana;
}
a.change:hover{
	font-weight:bold;
    background:white;
    color: salmon;
	}
    a.changee:hover{
        font-weight:bold;
        background:salmon;
        color: black;
        }

    a{
        color: black;
        background:salmon;
    } 
    .ch{
        background-color: rgb(31, 31, 43);
        color:white;
        font-size: 14px;
        font-family: Arial, Verdana;
    }   
.ch:hover{
    font-weight:bold;
    text-decoration: underline;
}

.c{
    background-color: whitesmoke;
    color:salmon;
    font-size: 21px;
    text-decoration: none;
    font-family: Arial, Verdana;
}   
.c:hover{

font-size: 21px;
text-decoration: underline;
background-color: whitesmoke;
}

    .main-menu ul li:hover ul{
        display: block;
        position: absolute;
        margin-left: -40px;
    }

    .main-menu ul li li a{
        background: rgb(245, 242, 242);
        color: salmon;
    }

    body{
        background-color: whitesmoke;
    }
    footer{
        background-color: rgb(31, 31, 43);
    }
    .text{
        background-color: white;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .text1{
        padding-top: 10px;
    }
    p{
        font-family: Arial, Verdana;
        font-size: 16pt;
        text-align: justify;
    }
    h1{
        padding-top: 30px;
        font-family: Arial, Verdana;
        font-size: 29pt;
  
    }
    h2{
        font-size: 25pt;
        text-align: center;
        font-family: Arial, Verdana;
        font-weight:bold;
    }
    h3{
        color: white;
        font-weight:bold;
        font-size: 16px;
        padding-left: 57px;
        text-align: justify;
        font-family: Arial, Verdana;
    }
    h4{
        font-family: Arial, Verdana;
        font-size: 12px;
        text-align: justify;
    }
    .podval{
        color:white;
        font-size: 14px;
        padding-left: 57px;
        text-align: justify;
        font-family: Arial, Verdana;
    }
    .karta ul{
        list-style: none;
        text-align: left;
    }
    .karta ul li a{
        text-decoration: none;
        text-align: right;
        color: white;
        font-family: Arial, Verdana;
        font-size: 14px;
        line-height: 1.35;
    }
    .imglogo{
        width:5%;
        float: left;
        margin-right: 20px;
        margin-left: 18px;
    }
    .osnovnoe {
        width: 85%;
        margin-bottom: 5px;
    }
    .col-4 {
        text-align: center;
    }
    .imgosnov {
        width: 100%;
        margin: 5px;
    }
    .im {
        width: 15%;
        margin: 2px;
    }
    .form {
        text-align: justify;
        margin-left: 15%;
        margin-right:15%;

        
    }
    .dr{
        border-color: salmon;
        border-style: outset;
        border-radius: 20px;
        border-width: 15px;
        background-color: rgb(248, 187, 187);
        margin: 5px;
    }
    .f{
        font-family: Arial, Verdana;
        font-size: 18pt;
        color: white; 
    }
    .fo{
        height: 30px; 
        border-radius: 5px;
        
    }
    .fil{
        margin: 2%;
        background-color: white;
        
    }
    input, textarea, select, button {
        box-sizing: border-box;

    }

    button{
        color: white;
        background:salmon;
    }
    button:hover{
        color: salmon;
        background:white;
    }

    .r{
        font-family: Arial, Verdana;
        font-size: 16pt;
        margin: 20px;
        margin-left: 150px;
        margin-right: 150px;
        border-style: solid; 
        border-radius: 10px;
        padding: 10px;
        background-color: white;
    }

.text-field__input:invalid,
.text-field__input:valid {
  border-radius: 7px;
  box-shadow: 0 0 3px #aaa;
  padding-right: 2.5rem;
  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 1.2rem 1.2rem;
}
.text-field__input:valid {
  border-color: #7ab197;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.text-field__input:invalid:focus {
  border-color: salmon;
  box-shadow: 0 0 0 0.3rem rgb(236, 100, 84);
}
.text-field__input:valid:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.3rem rgb(103, 184, 103);
}

.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: rgb(253, 171, 162);
    color: rgb(54, 54, 54);
    cursor: pointer;
    border-radius: 2px;
    display: none;
  }
  
  .back_to_top:hover {
    background: white;
  }
  
  .back_to_top-show {
    display: block;
  }